.links {
  display: inline-flex;
  justify-content: space-between;
  width: 99%;
  margin: 0 auto;
  padding: 10px 0px;
  top: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: rgb(31, 34, 53);
  position: fixed;
  
}

.links a {
  color: inherit;
  text-decoration: none;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  border: 2px solid red;
}

.links a:hover,
.my-summary .info a:hover {
  background-color: #fff;
  color: rgb(40, 43, 66);
  transition: 200ms;
  border: 2px solid red;
}

ul {
  display: inline-flex;
  list-style-type: none;
}

/*Style for my summary */
.my-summary {
  background-color: rgb(35, 38, 58);
  width: 100%;
  padding: 10px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-family: "Comfortaa", sans-serif;
  box-sizing: border-box;
  margin-top: 40px;
}

.my-summary .socials img {
  border: 2px solid red;
  border-radius: 50%;
  width: 35px;
  display: inline;
  padding: 5px;
  margin-right: 10px;
}

.my-summary .socials img:hover {
  background-color: red;
  border: 1.5px solid #fff;
  transition: 200ms;
}

.my-summary h1 {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7em;
  text-transform: capitalize;
}

.my-summary .info {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.my-summary .info .ade {
    margin: 0 auto;
    width: 100%;
  padding: 5px;
}

.my-summary .info .ade p {
    width: 90%;
}

.my-summary p {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  line-height: 2.3em;
}

.my-summary .info a {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 2px 15px;
  font-weight: 600;
  margin: 0px 2px;
  font-family: "Poppins", sans-serif;
  border: 1px solid red;
  background-color: rgb(40, 43, 66);
}



/* design for foot of website
.bottom p {
  font-size: .9em;
}

.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(35, 38, 58);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  padding: 10px 7px;
  text-align: center;
  width: 100%;
} */