@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");


.nav a.router-link-exact-active {
  color: rgb(17, 234, 17);
  text-decoration: none;
  background-color: rgba(109, 109, 109, 0.359);
}

.nav a {
  margin: 0 2px;
  padding: 20px;
  padding: 8px 20px;
  border-radius: 3px;
  color: rgb(40, 177, 40); 
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(109, 109, 109, 0.359);
  color: rgb(40, 43, 66);
  transition: 100ms;
}

body {
  background-color: rgb(31, 34, 53);
  font-family: "Quicksand", sans-serif;
  color: #fff;
}

.main-container {
  background-color: rgb(31, 34, 53);
  width: 99%;
  margin: 0 auto;
}

.nav {
  background-color: rgba(35, 38, 58, 0.759);
  border: 2px solid rgba(255, 0, 0, 0.429);
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  bottom: 2%; left: 0; right: 0;
  width: fit-content;
  box-sizing: border-box;
  margin: 0 auto;
}